#body{

}
.container{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 500px;
    height: 500px;
    border-style: dashed;
    overflow: hidden;
}

.box{
    float: left;
    width: 75px;
    height: 100px;
    margin: 10px;
    background: #FFF url("http://placekitten.com/g/75/100/") no-repeat;
}